version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    commit-message:
      prefix: "chore: "
    open-pull-requests-limit: 1
    labels:
      - "dependencies"
      - "github-actions"
    groups:
      all-actions:
        patterns:
          - "*"

  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
    cooldown:
      default-days: 7
    commit-message:
      prefix: "chore: "
    open-pull-requests-limit: 1
    labels:
      - "dependencies"
      - "docker"
    groups:
      docker-backend:
        patterns:
          - "*"
